<!DOCTYPE html>
<html>

	<head>
                <title>{{errorMessage}}</title>
                <link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
                <div class="main-content">
    	        {{>header}}
                <h1>{{error}}</h1>
                <p>{{errorMessage}}</p>
                </div>
                {{>footer}}
	</body>
</html>