<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.png">

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Here is a list of Apps I have created:</p>


        <div class="apps">
            <div class="app1" >
                <a href="/weather">Weather</a>
                <p>Uses an external API to pull weather data and displays it.</p>
            </div>
            <div class="app2">TBA</div>
            <div class="app3">TBA</div>
        </div>

    </div>

    </div>
    {{>footer}}
    <script src="/js/weather.js"></script>
</body>

</html>