<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>This is your profile page.</p>
            <p id="info"></p>
			<img class="portrait" src="">
		</div>
		{{>footer}}
        <script src="/js/profile.js"></script>
	</body>
</html>
