<footer>
<div>
    <a href="/">Home</a>
    <a href="/app">App List</a>
    <a href ="/about">About</a>
    <!--<a href ="/help">Help</a>-->
    <a href = "https://github.com/danielbrog" id="rightnav"><img src="img/github.png" alt=""></a>
    <a href = "https://www.linkedin.com/in/daniel-brog-b748b1113/" id="rightnav"><img src="img/linkedin.png" alt=""></a>
</div>
    <p>Created by: {{name}}</p>
</footer>
