<header>
    <h1> {{title}}</h1>

    <div>
        <a href="/">Home</a>
        <!--<a href="/app">App List</a>
    <a href ="/about">About</a>
    <a href ="/help">Help</a>
    <a href="/profile" id ="rightnav" class="profile">Profile</a>
    <a href ="/login" id="rightnav" class="login">Login</a>-->

        <script src="/js/header.js"></script>
    </div>
</header>