body {
	color: #333333;
	font-family: arial;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content{
	flex-grow: 1;
}

.portrait {
	width: 250px;
}


h1{
	font-size: 64px;
	margin-bottom: 16px;
}

footer{
	color: #888888;
	border-top: 1px solid #EEEEEE;
	margin-top: 16px;
	padding: 16px 0px;
}

header{
	margin-top: 16px;
	margin-bottom: 48px;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 16px;
}

header a,
footer a{
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}

header a:hover,
footer a:hover{
	color: #333333
}
