body {
	color: #333333;
	font-family: arial;
	max-width: 75%;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content{
	flex-grow: 1;
}

.portrait {
	width: 250px;
	float:left;
	padding-right: 16px;
}


h1{
	font-size: 64px;
	margin-bottom: 16px;
}

footer{
	color: #888888;
	border-top: 1px solid #EEEEEE;
	margin-top: 16px;
	padding: 16px 0px;
}

header{
	margin-top: 16px;
	margin-bottom: 48px;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 16px;
}

header a,
footer a{
	color: #888888;
	margin-right: 16px;
}

header a:hover,
footer a:hover{
	color: #333333
}

#rightnav{
	float:right;
}

a{
	color: #888888;
}

a:hover{
	color: #333333
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
}

button {
	cursor: pointer;
	border: 1px solid #666666;
	background: #888888;
	color: white;
	padding: 8px;
	margin-top: 8px;
}

/*
	App grid found in views/appList
*/

.apps{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.app1{
	grid-column:1;
	grid-row:1;
}
.app2{

	grid-column:2;
	grid-row:1;
}
.app3{
	grid-column:3;
	grid-row:1;
}
