<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/icon.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	
	<div class="main-content">
	{{>header}}

    <div id="newTask">
		<form>
			<input id="description" placeholder="Task Description">
			<button>Add Task</button>
		</form>
	</div>
    <div id="taskWindow">
    	<button onclick="newTask()">New Task</button>
		<button onclick="removeCompleted()">Remove Completed</button></a>
    </div>
	</div>
	<script src="/js/loggedTask.js"></script>
	<script src="/js/task.js"></script>
	{{>footer}}
	
</body>

</html>