<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/icon.png">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	
	<div class="main-content">
	{{>header}}
    <script src="/js/loggedTask.js"></script>
    
    <div id="tasks">
    <a href="/newTask"><button>New Task</button></a>
    </div>
	</div>
	{{>footer}}
	
</body>

</html>