<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>This site was created by me, Daniel Brog.  It is intended to be a playground for myself whenever I am learning new things.</p>
			<p>Many of my projects are saved on my github which you can find <a href="https://github.com/danielbrog">here</a>.</p>
			<img class="portrait" src="/img/meInItaly.jpeg">
		</div>
		{{>footer}}
	</body>
</html>
