<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
        	<p>{{helpText}}<a href = "mailto: {{email}}">{{email}}.</a></p>
		</div>
		{{>footer}}
	</body>
</html>