<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>This website was built by me, Daniel.  I've built some projects that are hosted here so please have a look.</p>
		</div>
		{{>footer}}
	</body>
</html>
