<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
		<link rel="icon" href="/img/icon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>Hi there, my name is Daniel and I'm the creator of this site.  I created this to host some of my projects and have a place to show who I am and what I enjoy doing.  If you want to see what I've been working on lately, feel free to check my github or linkedin.</p>
		</div>
		{{>footer}}
	</body>
</html>
